# Application
NODE_ENV=development
PORT=3000
# Frontend URL for CORS (supports multiple ports in development: 3000, 3001, 3002)
FRONTEND_URL=http://localhost:3001
BACKEND_URL=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=Arisanga@123
DB_NAME=CertificateVerificationDB

#SMTP
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=ad4e5d001@smtp-brevo.com
SMTP_PASS=xsmtpsib-164b1bc5d4dfa532491aede8eeca57ee40f0f362f6c87b9f1420953e0c52fadd-TwQLy6H0D2eyshY7
MAIL_FROM=arisangaroger26@gmail.com

# JWT
JWT_SECRET=your_jwt_secret_key_here_change_in_production

# Blockchain (Optimism Sepolia Testnet)
OPTIMISM_SEPOLIA_RPC_URL=https://sepolia.optimism.io
OPERATOR_PRIVATE_KEY=your_operator_private_key_here
CREDENTIAL_REGISTRY_ADDRESS=your_deployed_contract_address_here
MASTER_AES_KEY=your_master_aes_256_key_for_encrypting_university_keys

# Puppeteer (Skip Chrome download - use system Chrome)
PUPPETEER_SKIP_DOWNLOAD=true
PUPPETEER_EXECUTABLE_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
